#map {
  position: relative;
}

.horizontal-tool-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  z-index: 9999;
  top: .5em; right: 64px;
}

.vertical-tool-container {
  position: absolute;
  z-index: 9999;
  top: 64px;
  right: .5em;
}