#map {
  position: relative;
}

.tool-container {
  position: absolute;
  z-index: 99;
}
.tool-container.horizontal {
  display: flex;
  flex-direction: row;
  top: .5em; right: 64px;
}
.tool-container.vertical {
  top: 64px;
  right: .5em;
}

.tool-container .tool-button {

}
.tool-container .tool-button.active {
  background-color: #aaaaaa;
}